
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #282c34 0%,  #282c34 20%, gold 25%, #282c34 51%, #282c34 100%);
  animation: AnimateBG 10s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.App__wrapper {
  background-color: #282c34;
  display: flex;
  gap: 60px;
  flex-direction: column;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.Main__wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #333944;
  padding: 20px;
}
.header__logo {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: gold;
  overflow: hidden;
}

@keyframes rotate360 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.header__logo::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../public/img/logo.png) center no-repeat;
  background-size: cover;
  animation: rotate360 2s linear infinite;
}

.header__nav,.sidebar__nav {
  display: flex;
  gap: 20px;
  height: fit-content;
  list-style: none;
  margin: 0;
  padding: 0;
}


.header__nav {
  flex-direction: row;
}

.sidebar__nav {
  flex-direction: column;
}

.header__nav-link,.sidebar__nav-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.header__nav-link:hover,.sidebar__nav-link:hover {
  color: gold;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: white;
  padding-right: 20px;
}

.sidebar {
  background-color: #333944;
  padding: 20px;
}

.sidebar__title {
  margin-top: 0;
}







